<a href="#top"><button class="top material-symbols-outlined">arrow_upward</button></a>
<main>
    <div class="container">
        <h1>arcanine hallowen</h1>
        <div class="img">
            <img src="./img/arcanine-h.png" alt="arcanine hallowen PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>arcanine shiny</h1>
        <div class="img">
            <img src="./img/arcanine-s.png" alt="arcanine shiny PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>blaziken natal</h1>
        <div class="img">
            <img src="./img/blaziken-n.png" alt="blaziken natal PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>camerupt natal</h1>
        <div class="img">
            <img src="./img/camerupt-n.png" alt="camerupt natal PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
            <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>chandelure naral</h1>
        <div class="img">
            <img src="./img/chandelure-n.png" alt="chandelure naral PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>chariazrd clone</h1>
        <div class="img">
            <img src="./img/charizard-c.png" alt="chariazrd clone PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>charizard hallowen</h1>
        <div class="img">
            <img src="./img/charizard-h.png" alt="charizard hallowen PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>cyndaquil hallowen</h1>
        <div class="img">
            <img src="./img/cindaquil-h.png" alt="cindaquil hallowen PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>darmanitan shiny</h1>
        <div class="img">
            <img src="./img/darmanitan-s.png" alt="darmanitan shiny PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>darumaka summer</h1>
        <div class="img">
            <img src="./img/darumaka-su.png" alt="darumaka summer PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>delphox hallowen</h1>
        <div class="img">
            <img src="./img/delphox-h.png" alt="delphox hallowen PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>emboar summer</h1>
        <div class="img">
            <img src="./img/emboar-su.png" alt="emboar summer PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>flareon natal</h1>
        <div class="img">
            <img src="./img/flareon-n.png" alt="flareon natal PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>houndoom natal</h1>
        <div class="img">
            <img src="./img/houndoom-n.png" alt="houndoom natal PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>infernape pascoa</h1>
        <div class="img">
            <img src="./img/infernape-p.png" alt="infernape pascoa PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>larvesta hallowen</h1>
        <div class="img">
            <img src="./img/larvesta-h.png" alt="larvesta hallowen PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>magmortar natal</h1>
        <div class="img">
            <img src="./img/magmortar-n.png" alt="magmortar natal PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>ninetales natal</h1>
        <div class="img">
            <img src="./img/ninetails-n.png" alt="ninetales natal PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>ninetales pink</h1>
        <div class="img">
            <img src="./img/ninetails-p.png" alt="ninetales pink PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>ninetales shiny</h1>
        <div class="img">
            <img src="./img/ninetails.png" alt="ninetales shiny PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>ninetales vday</h1>
        <div class="img">
            <img src="./img/ninetales-v.png" alt="ninetales vday PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>ponyta hallowen</h1>
        <div class="img">
            <img src="./img/ponyta-h.png" alt="ponyta hallowen PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>ponyta shiny</h1>
        <div class="img">
            <img src="./img/ponyta-s.png" alt="ponyta shiny PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>slugma shiny</h1>
        <div class="img">
            <img src="./img/slugma-1.png" alt="slugma shiny PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>torkoal hallowen</h1>
        <div class="img">
            <img src="./img/torkoal-h.png" alt="torkoal hallowen PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
    <div class="container">
        <h1>volcarona pascoa</h1>
        <div class="img">
            <img src="./img/volcarona-p.png" alt="volcarona pascoa PRO">
        </div>
        <span class="valor">R$ 200 reais</span>
        <a href="#" class="compra">comprar</a>
    </div>
</main>