<div class="container-popup">
  <div class="container" id="popup">
    <button class="close">
      <i>X</i>
    </button>
    <div class="opti">
      <div class="card-option cred-card" style="width: 100px;">
        <img src="./img/cartao.webp" alt="cartões" style="width: 100%; height: 100%;">
        <p>Cartão de Crédito/Débito</p>
      </div>
      <div class="card-option pix" style="width: 100px;">
        <img src="./img/pix.webp" alt="Pix" style="width: 100%; height: 100%;">
        <p>Pix</p>
      </div>
      <div class="card-option boleto" style="width: 100px;">
        <img src="./img/boleto.png" alt="boleto" style="width: 100%; height: 100%;">
        <p>Boleto</p>
      </div>
    </div>
  </div>
</div>